{% extends "./zwhk_admin/base.html" %}

{% block left_bar %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    {% include 'zwhk_admin/include/left_bar_top.html'%}
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header" style="text-align: center;">菜单</li>

      <li class="active treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>仪表盘</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="{% url 'dashboard' %}"><i class="fa fa-circle-o text-yellow"></i> Dashboard v1</a></li>
          <!-- <li><a href=""><i class="fa fa-circle-o text-aqua"></i> Dashboard v2</a></li> -->
        </ul>
      </li>

      <li class="treeview">
        <a href="">
          <i class="fa fa-user"></i>
          <span>权限管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'user_manage' %}"><i class="fa fa-circle-o text-red"></i> 管理员管理</a></li>
          <!-- <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> 用户组管理</a></li>
          <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> 策略管理</a></li> -->
        </ul>
      </li>

    </ul>
  </section>
</aside>
{% endblock left_bar %}


{% block box_header %}
<section class="content-header">
  <h1>DashBorad</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>DashBorad</li>
    <li class="active">DashBorad1</li>
  </ol>
</section>
{% endblock box_header %}



  <!-- Content Wrapper. Contains page content -->

{% block box_main %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-6">
          <!-- interactive chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Interactive Area Chart</h3>

              <div class="box-tools pull-right">
                Real time
                <div class="btn-group" id="realtime1" data-toggle="btn-toggle">
                  <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                  <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div id="interactive1" style="height: 300px;"></div>
            </div>
          </div>
        </div>


        <div class="col-xs-6">
          <!-- interactive chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Interactive Area Chart</h3>

              <div class="box-tools pull-right">
                Real time
                <div class="btn-group" id="realtime2" data-toggle="btn-toggle">
                  <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                  <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div id="interactive2" style="height: 300px;"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
{% endblock box_main %}



{% block bottom_js %}
{% load staticfiles %}
<script src="{% static 'bower_components/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'bower_components/Flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'bower_components/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'bower_components/Flot/jquery.flot.categories.js' %}"></script>

<!-- Page script -->
<script>
  $(function () {
    /*
     * Flot Interactive Chart
     * -----------------------
     */
    // We use an inline data source in the example, usually data would
    // be fetched from a server
    var data = [], totalPoints = 100

    function getRandomData() {
		if (data.length > 0)
			data = data.slice(1)
			while (data.length < totalPoints) {
				var prev = data.length > 0 ? data[data.length - 1] : 50,
				y = prev + Math.random() * 10 - 5
				if (y < 0) {
					y = 0
				} else if (y > 100) {
					y = 100
				}
				data.push(y)
		}
		
		var res = []
		for (var i = 0; i < data.length; ++i) {
		res.push([i, data[i]])
		}

      return res
    }

    alert(getRandomData());
    var interactive_plot1 = $.plot('#interactive1', [getRandomData()], {
      grid  : {
        borderColor: '#f3f3f3',
        borderWidth: 1,
        tickColor  : '#f3f3f3'
      },
      series: {
        shadowSize: 0, // Drawing is faster without shadows
        color     : '#3c8dbc'
      },
      lines : {
        fill : true, //Converts the line chart to area chart
        color: '#3c8dbc'
      },
      yaxis : {
        min : 0,
        max : 100,
        show: true
      },
      xaxis : {
        show: true
      }
    })

    var updateInterval = 500
    var realtime1 = 'on'

    function update1() {
      interactive_plot1.setData([getRandomData()])
      interactive_plot1.draw()
      if (realtime1 === 'on')
        setTimeout(update1, updateInterval)
    }

    if (realtime1 === 'on') {
        update1()
    }

    $('#realtime1 .btn').click(function () {
      if ($(this).data('toggle') === 'on') {
        realtime1 = 'on'
      }
      else {
        realtime1 = 'off'
      }
      update1()
    })


    // var interactive_plot2 = $.plot('#interactive2', [getRandomData()], {
    //   grid  : {
    //     borderColor: '#f3f3f3',
    //     borderWidth: 1,
    //     tickColor  : '#f3f3f3'
    //   },
    //   series: {
    //     shadowSize: 0, // Drawing is faster without shadows
    //     color     : '#3c8dbc'
    //   },
    //   lines : {
    //     fill : true, //Converts the line chart to area chart
    //     color: '#3c8dbc'
    //   },
    //   yaxis : {
    //     min : 0,
    //     max : 100,
    //     show: true
    //   },
    //   xaxis : {
    //     show: true
    //   }
    // })


    


    // var updateInterval = 500
    // var realtime2 = 'on'
    // function update2() {
    //   interactive_plot2.setData([getRandomData()])
    //   interactive_plot2.draw()
    //   if (realtime2 === 'on')
    //     setTimeout(update, updateInterval)
    // }

    

    // if (realtime2 === 'on') {
    //   update()
    // }
    //REALTIME TOGGLE
    

    // $('#realtime2 .btn').click(function () {
    //   if ($(this).data('toggle') === 'on') {
    //     realtime = 'on'
    //   }
    //   else {
    //     realtime = 'off'
    //   }
    //   update()
    // })



  })

  /*
   * Custom Label formatter
   * ----------------------
   */
  function labelFormatter(label, series) {
    return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
      + label
      + '<br>'
      + Math.round(series.percent) + '%</div>'
  }
</script>
{% endblock bottom_js%}
