{% extends "./zwhk_admin/base.html" %}

{% block left_bar %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    {% include 'zwhk_admin/include/left_bar_top.html'%}
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header" style="text-align: center;">菜单</li>

      <!-- <li class="treeview">
        <a href="">
          <i class="fa fa-dashboard"></i> <span>仪表盘</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="index.html"><i class="fa fa-circle-o text-red"></i> 仪表盘 v1</a></li>
          <li><a href="index2.html"><i class="fa fa-circle-o text-aqua"></i> 仪表盘 v2</a></li>
        </ul>
      </li> -->
     <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'dashboard' %}"><i class="fa fa-circle-o text-yellow"></i> Dashboard v1</a></li>
          <li><a href=""><i class="fa fa-circle-o text-aqua"></i> Dashboard v2</a></li>
        </ul>
      </li>


      <li class="treeview active">
        <a href="">
          <i class="fa fa-user"></i>
          <span>权限管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="{% url 'user_manage' %}"><i class="fa fa-circle-o text-red"></i> 管理员管理</a></li>
        </ul>
      </li>


    </ul>
  </section>
</aside>
{% endblock left_bar %}


{% block box_header %}
<section class="content-header">
	<h1>用户管理</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li>用户管理</li>
		<li class="active">用户列表</li>
	</ol>
</section>
{% endblock box_header %}

{% block box_main %}
<section class="content">
    <!-- Default box -->
    <div class="row">
      
      <div class="col-xs-12">
      <blockquote class="layui-elem-quote layui-quote-nm" style="border-bottom: 1px solid green;">
          <em style="font-size: 0.8em;">管理员管理</em>
          </br>
          <span style="font-size: 0.7em;">一个管理员可以有多个角色组</span>
      </blockquote>

        <div class="box">
            <div class="box-header with-border">
              <div class="fixed-table-toolbar">
              <div class="bs-bars pull-left">
                <button class="btn btn-success btn-add edit_btn" data-type="add_btn" type="button"><i class="fa fa-plus"></i> 创建</button>
                <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i> 删除</button>
              </div>
              <div class="pull-right search">
                <input type="text" name="search" placeholder="搜索" class="form-control">
              </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>ID</th>
                  <th>图像</th>
                  <th>账号</th>
                  <th>昵称</th>
                  <th>用户组</th>
                  <th>电话</th>
                  <th>邮箱</th>
                  <th>地址</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="td_checkbox"><input type="checkbox" name=""></td>
                  <td>1</td>
                  <td class="td_username">root</td>
                  <td class="td_img"><img src="{{ user.img }}" width="25" height="20"/></td>
                  <td class="td_nickname">闵波</td>
                  <td class="td_group"><span class="label label-primary">超级管理员</span></td>
                  <td class="td_phone">123456789</td>
                  <td class="td_email">admin@admin.com</td>
                  <td class="td_address">湖北黄石</td>
                  <td class="td_status">正常</td>
                  <td>
                    <button class="btn btn-xs btn-success edit_btn" data-type="edit_btn" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-xs btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                <tr>
                  <td class="td_checkbox"><input type="checkbox" name=""></td>
                  <td>2</td>
                  <td class="td_username">root</td>
                  <td class="td_img"><img src="{{ user.img }}" width="25" height="20"/></td>
                  <td class="td_nickname">闵波</td>
                  <td class="td_group"><span class="label label-primary">超级管理员</span></td>
                  <td class="td_phone">123456789</td>
                  <td class="td_email">admin@admin.com</td>
                  <td class="td_address">湖北武汉</td>
                  <td class="td_status">正常</td>
                  <td>
                    <button class="btn btn-xs btn-success edit_btn" data-type="edit_btn" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-xs btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <!-- /.box -->
</section>
{% endblock box_main %}


{% block bottom_js %}

<script type="text/javascript">
  $("td,th").addClass("text-center");
  $("th").addClass("layui-bg-cyan");
</script>

{% load staticfiles %}
<script src="{% static 'layer/src/layer.js' %}"></script>
<script>
var active = {
  user_form_alert: function(title){
    var index = layer.open({
      type: 2,
      skin: 'layui-layer-lan',
      title: title,
      content: '{% url "form" %}',
      area: ['800px','600px'],
      maxmin: true,
      anim: anim,
      shadeClose: true,
      shade: false,
      btn: ['确认', '重置'],
      yes: function(index, layero){
          $('#add-form').submit();
          //layer.close(index);
      },
    });
  }
};

$('.edit_btn').on('click', function(){
  var type = $(this).data('type');
  if(type == "edit_btn"){
      title = '编辑';
      anim = 4;
  }else if(type == "add_btn"){
      title = '添加';
      anim = 6;
  }
  active["user_form_alert"] ? active["user_form_alert"].call(this,title,anim) : '';
});

</script>
{% endblock bottom_js%}
