<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {% include "myadmin/inc/header.html" %}
    </head>
    <body>
        {% include "myadmin/inc/nav.html" %}
        <div class="container">
            <div class="page-header">
                <h2>用户管理
                    <small class="pull-right">
                        <a href="{% url 'user_list' %}" class="btn btn-primary" href=""><span class="glyphicon glyphicon-chevron-left"></span> 返回</a>
                    </small>
                </h2>
            </div>

        <div class="col-md-offset-3 col-md-6">

            <div class="col-md-offset-2 col-md-10" style="padding: 0px;position: relative;">
                <div style="text-align: center;" class="alert alert-info" role="alert" id="show_error" hidden></div>
            </div>

            <form class="form-horizontal" method="post" id="user_form" style="margin-top:70px;">
            {% csrf_token %}
                <input type="hidden" id="uid" name="uid" value="{{ this_user.id }}" />
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">账号*</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" class="form-control" id="username" placeholder="请输入账号名称" value="{{ this_user.username }}" required {% if operate = 'update' %}disabled{% endif %}>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nickname" class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                        <input type="text" name="nickname" class="form-control" id="nickname" placeholder="请输入昵称" value="{{ this_user.nickname }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">邮箱*</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" class="form-control" id="email" placeholder="请输入邮箱" value="{{ this_user.email }}" required {% if operate = 'update' %}disabled{% endif %}>
                    </div>
                </div>

                <div class="form-group">
                    <label for="desc" class="col-sm-2 control-label">简介</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="desc" id="desc" placeholder="请输入简介" value="{{ this_user.desc }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="passwd" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="passwd1" id="password1" placeholder={% if operate = 'create' %}"请输入密码" required="true" {% else %}******{% endif %}>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passwd" class="col-sm-2 control-label">确认</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="passwd2" id="password2" placeholder={% if operate = 'create' %}"请确认密码" required="true" {% else %}******{% endif %}>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <p id="show_error"></p>
    </body>
</html>
<script language="javascript" type="text/javascript">
   $('#user_form').submit(function(){
    
        $.ajax({
            type:"POST",
            url:"/admin/usercontrol/{{ operate }}",
            data:{"uid":$("#uid").val(),"username":$("#username").val(),"nickname":$("#nickname").val(),"email":$("#email").val(),"desc":$("#desc").val(),"password1":$("#password1").val(),"password2":$("#password2").val()},
            dataType:'json',
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                var errors = data["errors"];
                if(errors.length==0){
                     location.replace("/admin/users/");
                }
                else{
                    //alert(errors);
                    $("#show_error").text(errors)
                    $("#show_error").show()
                    // var html = "<div class=\"alert alert-danger\">"
                    // for (var key in errors){
                    //     html += errors[key]+"<br/>";
                    // }
                    // html += "</div>";
                    // $("#vmaig-auth-register .panel-heading").after(html);
                }
                
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        })
        return false;
    });

</script>
