{% load staticfiles %}
<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="row site-info">&copy; 2017<span class="sep"> | </span>Proudly Powered by
	<a href="http://www.zwhk.ink/" >zwhk</a>
	<span class="sep"> | </span>Theme: 
	<a href="https://wordpress.org/themes/nisarg/" rel="designer">Nisarg</a>		
	</div>
</footer>
<script type='text/javascript' src="{% static 'js/navigation.js' %}"></script>
<script type='text/javascript' src="{% static 'js/skip-link-focus-fix.js' %}"></script>
<script type='text/javascript'>
	var screenReaderText = {"expand":"expand child menu","collapse":"collapse child menu"};
</script>
<script type='text/javascript' src="{% static 'js/nisarg.js' %}"></script>